---
import Hero from '../components/Hero.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main class="relative w-full max-w-[1200px] m-auto">
		<Hero />
	</main>
</Layout>
