---
import Event from '../components/Event.astro';
import Hero from '../components/Hero.astro';
import Speakers from '../components/Speakers.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main class="relative w-full max-w-[1200px] m-auto">
		<Hero />
		<Speakers />
		<Event />
	</main>
</Layout>
