<header class="w-full max-w-[1200px] bg-transparent flex justify-between items-center m-auto py-8 z-40">
    <a href="#" class="text-white text-3xl font-semibold">Wesley</a>
    <nav class="flex gap-5">
        <a href="#" class="text-[#B9C1D4] font-normal text-xl hover:text-amber-400">About us</a>
        <a href="#" class="text-[#B9C1D4] font-normal text-xl hover:text-amber-400">Services</a>
        <a href="#" class="text-[#B9C1D4] font-normal text-xl hover:text-amber-400">Package</a>
        <a href="#" class="text-[#B9C1D4] font-normal text-xl hover:text-amber-400">Help</a>
    </nav>
</header>
