
<header class="w-full max-w-[1200px] bg-transparent flex justify-between items-center m-auto py-8 z-40">
    <img src="images/logo.svg" alt=""class="w-[100px]">
    <nav class="flex gap-5" >
        <a href="#" class="text-[#B9C1D4] font-normal text-xl hover:text-[#FFCC00]" id="btn-togle">Inicio</a>
        <a href="#" class="text-[#B9C1D4] font-normal text-xl hover:text-[#FFCC00]">Ponentes</a>
        <a href="#" class="text-[#B9C1D4] font-normal text-xl hover:text-[#FFCC00]">Programa</a>
        <a href="#" class="text-[#B9C1D4] font-normal text-xl hover:text-[#FFCC00]">Info</a>
    </nav>
</header>

