---
console.log("Hello word");
---

<section class="relative h-[calc(100vh-96.3px)] flex items-center justify-center  w-ful" >
    <div class="w-[600px] h-[600px] rounded-full absolute bg-blue-500 blur-[300px] top-[-50%]"></div>
    <div class="-translate-y-16 text-center">
        <h2 class="text-white text-2xl mt-5 font-normal">FACULTAD DE INGENIERÍA & ARQUITECTURA</h2>
        <h1 class="text-white text-8xl font-bold mt-7 text-center">
            <div class="text-[#FFCC00] mb-5">II SIMPOSIO <br></div>   
            <div class="">DE INNOVACIÓN</div> 
        </h1>
        <div class="flex items-center gap-2 mt-5 justify-center">
            <span class="w-64 bg-[#FFCC00] h-2 rounded-full"></span>
            <span class="w-5 bg-[#FFCC00] h-5 rounded-full"></span>
            <span class="w-64 bg-[#FFCC00] h-2 rounded-full"></span>
        </div>
        <p class="font-medium text-white text-3xl mt-5 ">JUEVES 30 y VIERNES 31 DE MAYO</p>
    </div>
</section>