<section class="relative h-[calc(100vh-100px)] flex items-center  w-full">
    <div class="w-[600px] h-[600px] rounded-full absolute bg-blue-500 blur-[300px] -translate-x-10"></div>
    <div class="w-[100px] h-[100px] rounded-full absolute border-blue-500 top-[80%] -translate-y-[50%]"></div>
    <div class="-translate-y-16">
        <div class="university-info">
            <img src="https://profesionalesconprincipios.com/wp-content/uploads/2022/04/logo-upeu-white-svg-02.svg" alt="" class="w-64">
        </div>
        <h2 class="text-white text-4xl mt-5 font-normal">FACULTAD DE INGENIERÍA <br> & ARQUITECTURA</h2>
        <h1 class="text-white text-8xl font-bold mt-7">II SIMPOSIO DE <br> INNOVACIÓN</h1>
        <div class="flex items-center gap-2 mt-5">
            <span class="w-72 bg-[#f8a900] h-2 rounded-full"></span>
            <span class="w-28 bg-[#f8a900] h-2 rounded-full"></span>
            <span class="w-2 bg-[#f8a900] h-2 rounded-full"></span>
        </div>
        <p class="font-medium text-white text-3xl mt-5 ">JUEVES 30 y VIERNES 31 DE MAYO</p>
    </div>

</section>

<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Provident delectus deserunt sapiente dignissimos molestias corrupti nobis. Assumenda id iusto, provident totam nisi ipsam veritatis qui voluptas eaque quia doloribus distinctio?
Deleniti aliquid molestiae dolore ratione porro doloremque non! Itaque eos pariatur recusandae nam unde nisi, quos molestiae? Numquam modi rem dolore enim nemo commodi, accusantium reiciendis consequatur qui et cupiditate!
Unde recusandae porro non natus? Quibusdam facilis non a, accusamus ut veniam. Quam animi consequuntur id alias expedita, aut quod enim, quae illo, numquam soluta velit facere molestiae voluptas reiciendis!
Fugit molestiae dolorem iusto pariatur deserunt rem aspernatur corporis odio similique explicabo, numquam minus consectetur aliquid commodi a perspiciatis tempora saepe voluptas distinctio. Suscipit ex qui doloremque libero adipisci! Doloribus?
Ut tenetur rem temporibus dolor quos esse itaque, cupiditate quisquam qui neque vitae provident voluptas autem cum asperiores aut voluptatem aliquam obcaecati at vel in consectetur! Doloribus vitae in at.
Voluptatibus rerum ducimus vero magnam pariatur sit quae accusantium totam minima dolorem corporis temporibus autem nemo dolores, repellat, similique aut mollitia doloribus odit! Quisquam odit repudiandae commodi, perspiciatis iure perferendis.
Reiciendis, cumque in dolore aliquid quisquam velit commodi corporis rem esse voluptate? Consequatur, libero ad laudantium obcaecati optio ab voluptate inventore dicta quisquam excepturi soluta a eaque, quod reprehenderit necessitatibus?
Odit at, distinctio incidunt cupiditate eligendi maxime earum in repellendus! Minus dolorem totam sit ipsa aliquam, eius aperiam distinctio quod neque cupiditate quae expedita nam saepe esse necessitatibus illum magni?
Recusandae voluptatem impedit laboriosam perferendis doloribus non sint quas sequi consectetur? At quo consequuntur sapiente enim, reprehenderit, soluta voluptatibus praesentium amet ex ipsum ad et maiores tempora quos, fugit a?
Voluptatem omnis exercitationem quia quam, voluptate, provident porro cum accusamus quo libero earum quas esse temporibus doloribus eius iste at dolore ut quasi maxime minima possimus, tenetur beatae repellendus. Nisi?
Vitae sit eligendi, sint, illum aut quisquam accusamus numquam debitis atque optio autem ipsum distinctio porro vel. Vel nihil nostrum rem expedita itaque, labore nisi at quae architecto, nobis deserunt!
Modi maxime sapiente ipsam est dolorum debitis placeat, dolore ab saepe! Nemo ipsam voluptatum accusamus laborum amet dolore autem eius voluptate, doloremque aperiam aspernatur sequi neque porro alias quia adipisci.
Doloremque optio quo veniam, consequatur quis autem animi cum non, temporibus facilis aliquam quidem sequi obcaecati nostrum sit perspiciatis explicabo maxime. Voluptatum placeat obcaecati exercitationem ea esse provident praesentium rerum.
Ipsa iusto nihil corporis nesciunt quos praesentium officiis recusandae cumque aperiam iste vel ex distinctio eos, quaerat animi enim veritatis pariatur illo assumenda eius inventore debitis perspiciatis! Labore, dicta dolorum?
Numquam, placeat earum voluptatem similique id impedit ratione labore dolores ullam? Consequatur unde amet aut iusto laboriosam? Blanditiis impedit beatae itaque illum sapiente possimus necessitatibus, tempora modi quasi ullam commodi?
Praesentium id porro accusantium doloribus, suscipit ea corrupti exercitationem recusandae accusamus dolor quod deserunt itaque aliquam, molestiae autem nam? Mollitia, molestias ducimus! Molestiae accusantium suscipit nihil similique eligendi. Eligendi, accusamus?
Facilis a blanditiis iusto assumenda vero ad, provident, corrupti rerum eaque quam quidem aut dolore dolorum! Ab facere aspernatur harum non necessitatibus repellat quidem corrupti. Ducimus et quis cumque libero.
Placeat voluptates molestiae in magnam accusamus rerum id error, itaque saepe reprehenderit, quasi deleniti qui eveniet odio similique. Eligendi, cumque impedit. Ad nostrum rerum eos velit maiores ea sed dolores!
Eos eum qui molestias, tempora non libero quaerat ea omnis animi saepe ut! Praesentium sit, quo iure totam iusto corporis repudiandae corrupti dolorem quaerat nemo aut labore placeat ipsam saepe.
Possimus in rerum, illo ut voluptate commodi officiis ipsum, similique voluptatibus enim molestias quae dolorem deleniti perferendis fugiat modi harum cum voluptas cumque ea neque molestiae. Ullam distinctio repellat non.
Rerum eum dignissimos recusandae at repellendus praesentium pariatur perferendis iste voluptatibus! Harum quas accusamus odit ut officia aspernatur inventore facere exercitationem dolor. Eum reiciendis non eos et modi. Molestiae, repellat.
Blanditiis id consequatur iusto! Atque quae, facilis nihil maxime, cumque harum officia animi, illum repellat eaque quisquam sequi tempore sit consequatur in excepturi ipsum. Assumenda unde maiores beatae repudiandae dolorem.
Explicabo enim eos labore? Saepe ut ad qui labore modi nobis harum magnam doloremque, rerum sit voluptas repellendus suscipit iure? Quis fugit reiciendis dicta amet, rerum impedit ea sed eligendi.
Laboriosam, ab ratione beatae soluta harum, cum cupiditate, repellendus maxime a in sint quis! Nulla ipsam ex, eum numquam voluptate tempora, perferendis assumenda odit cum quis, deserunt debitis exercitationem odio.
Laborum omnis voluptas exercitationem, laudantium inventore aspernatur perspiciatis provident illum. Laborum labore asperiores quidem! Iure mollitia veritatis delectus natus enim autem rerum quam quibusdam cumque repellendus! Quasi architecto animi quibusdam!
Consequatur praesentium provident obcaecati perspiciatis soluta officia impedit odit nam blanditiis numquam, voluptatibus quo repellat voluptatum nihil officiis ratione vitae commodi, debitis inventore enim eveniet? Obcaecati quo illo cupiditate commodi.
At dolor ex nemo recusandae amet, minus odio cum nobis excepturi sint saepe, esse debitis doloremque culpa distinctio tenetur velit ratione! Similique, blanditiis aspernatur recusandae ex quisquam eos rem possimus!
Labore porro odio adipisci commodi! Reprehenderit provident nostrum in repellendus odio excepturi at libero soluta natus enim, doloremque non maxime eaque ullam adipisci minima neque, sequi odit. Accusamus, hic temporibus!
Tempore veritatis quidem commodi inventore quod atque laudantium, voluptates asperiores, sit magni excepturi, aliquam sed. Nisi itaque pariatur nihil, distinctio molestiae obcaecati fugit illum veniam voluptas iure? Praesentium, dolores ex.
Vel praesentium optio facere totam rem sed corrupti quisquam, quae quia atque ut tempore fugiat recusandae debitis! Non quas expedita dolorem vero labore reprehenderit dolor ea optio, nemo quo reiciendis.
Nemo numquam soluta culpa qui eaque. Atque, aliquid magni, soluta quis quas delectus, ratione veniam itaque libero unde eaque laudantium blanditiis natus. Omnis dolor corporis expedita et molestias ut animi!
Fuga illum laudantium adipisci reiciendis non rerum illo quasi quibusdam officia ipsa voluptatibus, ipsam eveniet nemo vitae, quae maiores minus ex dolorum accusamus velit, ipsum corrupti rem odit. Debitis, rerum.
Asperiores minima officiis ab porro, veniam excepturi eos delectus recusandae. Suscipit, nesciunt necessitatibus nam minus, placeat ducimus voluptatem non laboriosam dignissimos error, rerum fuga repellat quaerat aspernatur. Rem, reiciendis voluptatibus.
Culpa deserunt voluptatem odio praesentium repellat officia natus laudantium accusantium, quae voluptate quasi amet voluptatibus autem quam dicta molestias non quod? Eaque magnam quaerat ipsa voluptates officiis illum, odit officia!
Quidem consectetur temporibus neque dignissimos totam! Nostrum veritatis ea reiciendis ducimus commodi doloremque laborum impedit illo, minus maiores, molestias aliquid. Placeat, unde voluptate! Fugiat quibusdam iste quam laboriosam, rem aspernatur.
Sit, voluptatibus consequatur adipisci similique illum enim non voluptatem corrupti officiis animi aliquam reprehenderit dolor id expedita, magnam temporibus ratione placeat ipsam aut soluta consequuntur! Omnis ipsa quibusdam reiciendis architecto.
Fuga soluta modi nam nesciunt. Cum debitis repudiandae officiis ab facilis quam officia id quasi voluptatum nisi eos sequi natus numquam, eum quidem at esse aliquam quo dolore nihil rerum.
Enim aut inventore quibusdam illo incidunt ipsum repellendus architecto voluptatem perferendis corrupti aliquid, voluptatum distinctio nobis corporis doloribus temporibus, obcaecati, dolores vel cupiditate exercitationem illum quo molestiae. Sapiente, pariatur commodi!
Nulla sunt magni autem repellat quibusdam quos illum consequatur fugiat, deserunt eligendi delectus numquam nesciunt, perspiciatis praesentium veniam. Assumenda tenetur odio est asperiores modi impedit nulla laudantium nisi quisquam minima.
Totam fuga tempora placeat cumque ea voluptatem, necessitatibus temporibus repellendus enim quos minima nesciunt odio soluta sint. Aliquam, laudantium itaque inventore voluptate modi aut excepturi ad dicta qui blanditiis esse?
Quidem voluptatum iure nesciunt laudantium quisquam recusandae qui ut asperiores, accusantium veritatis, adipisci atque laborum cum nisi. Animi error laudantium explicabo accusamus ipsa, quo ipsum, impedit harum velit vero quisquam.
Quae soluta delectus illum repellat quasi culpa, nobis rerum maiores nisi libero alias aspernatur modi non! Itaque repellendus fuga, quae, vero veritatis fugiat rerum cupiditate ab laboriosam, cumque officia eveniet.
In rerum eligendi soluta consectetur sit consequuntur nemo officia ex, assumenda ipsam natus? Commodi provident ipsa est nihil beatae facere enim quo, temporibus, amet totam eaque pariatur aperiam, impedit libero?
Quidem tempora modi, autem reiciendis iste saepe, qui, quia itaque nulla odit amet quibusdam. Blanditiis eius repudiandae accusamus sunt architecto. Maiores inventore corporis, architecto excepturi magnam sint et eius possimus.
Sequi vero nostrum possimus ut dolorum? Eaque quo laboriosam atque, inventore quos voluptatum! Unde voluptatem sed illum harum iure minus, at blanditiis sunt, culpa quis aperiam labore id, earum fugiat?
Illum perferendis exercitationem maxime corporis itaque possimus necessitatibus ipsam modi est deleniti saepe soluta accusantium nemo nulla dolorum alias officia, cum consequatur quae minima facere porro? Enim alias exercitationem illo!
Culpa, saepe. Inventore repudiandae vitae quo sunt ullam, illum assumenda cupiditate at blanditiis dolore sequi rem velit ipsum minus similique magnam. Reiciendis voluptatum est assumenda, quasi sequi ea libero ipsam.
Cum velit eius consectetur veniam deleniti quidem, quam minus molestiae? Id aspernatur nam et explicabo, sunt iure! Provident tempora aliquam distinctio voluptatem architecto? Atque aperiam ex itaque in expedita aliquam.
Nostrum dolorem eum amet voluptates, ipsam consequatur error nihil mollitia consectetur. Perspiciatis culpa expedita neque autem id quam deleniti eaque ipsa doloremque natus, temporibus nostrum nobis. Dolorum est nam soluta?
Quis culpa obcaecati iste reiciendis odit suscipit aut incidunt placeat ratione eos nobis molestias pariatur inventore nesciunt similique id neque eum et, ut iusto ex magni? Laboriosam possimus dolorum nihil.</p>