<section class="max-w-[1200px] w-full m-auto">
    <div class="flex items-center justify-center gap-x-5 mb-10">
        <span class="flex justify-center items-center translate-y-[2px]" >
            <svg class="w-8 h-8" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path class="stroke-white" d="M12 12C14.7614 12 17 9.76142 17 7C17 4.23858 14.7614 2 12 2C9.23858 2 7 4.23858 7 7C7 9.76142 9.23858 12 12 12Z" stroke="#292D32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path class="stroke-white" d="M20.59 22C20.59 18.13 16.74 15 12 15C7.26003 15 3.41003 18.13 3.41003 22" stroke="#292D32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        </span>
        <h2 class="text-4xl uppercase text-center text-white">Ponentes</h2>
    </div>


    <div class="grid grid-cols-6 gap-4  max-w-[900px] m-auto">
        <div class=" col-span-3 flex items-center justify-center flex-col border rounded-xl border-[#1F2227] ">
            <div class="flex flex-col items-center p-2">
                <div class=" flex h-[87px] w-[87px] items-center justify-center rounded-full border-[4px] border-white bg-pink-400 dark:!border-navy-700">
                    <img class="h-full w-full rounded-full" src='images/ponente-roque.png' alt="" />
                </div>
                <h5 class=" text-xl font-medium text-white mt-2">Roque Benavides Ganoza</h5>
                <span class="text-sm text-gray-500 dark:text-gray-400 mt-2">Presidente del CIP CDLima</span>
                <div class="flex mt-3">
                    <button type="button" class="py-2 px-4 me-2 mb-2 text-sm font-medium focus:outline-none rounded-full border border-gray-200 text-white">
                        Ver más
                    </button>
                    <button type="button" class="py-2 px-4 me-2 mb-2 text-sm font-medium focus:outline-none rounded-full border border-gray-200 text-white">
                        Ver más
                    </button>
    
                </div>
            </div>
        </div>
        <div class="col-span-3 border rounded-xl border-[#1F2227]">
            <div class="flex flex-col items-center p-2 ">
                <div class=" flex h-[87px] w-[87px] items-center justify-center rounded-full border-[4px] border-white bg-pink-400 dark:!border-navy-700">
                    <img class="h-full w-full rounded-full" src='images/Susana_Vilca.jpg' alt="" />
                </div>
                <h5 class=" text-xl font-medium text-white mt-2">SUSANA GLADIS VILCA ACHATA</h5>
                <span class="text-sm text-gray-500 dark:text-gray-400 mt-2">Ex Ministra de Energía y Minas del Perú</span>
                <div class="flex mt-3">
                    <button type="button" class="py-2 px-4 me-2 mb-2 text-sm font-medium focus:outline-none rounded-full border border-gray-200 text-white">
                        Ver más
                    </button>
                    <button type="button" class="py-2 px-4 me-2 mb-2 text-sm font-medium focus:outline-none rounded-full border border-gray-200 text-white">
                        Ver más
                    </button>
    
                </div>
            </div>  
        </div>

        <div class=" col-span-2 flex items-center justify-center flex-col border rounded-xl border-[#1F2227]">    
            <div class="flex flex-col items-center p-2">
                <div class=" flex h-[87px] w-[87px] items-center justify-center rounded-full border-[4px] border-white bg-pink-400 dark:!border-navy-700">
                    <img class="h-full w-full rounded-full" src='images/jimy.jpg' alt="" />
                </div>
                <h5 class=" text-xl font-medium text-white mt-2">JIMY EDWARD CURO MAMANI</h5>
                <span class="text-sm text-gray-500 dark:text-gray-400 mt-2">CEO & FOUNDER Lidera Startup</span>
                <div class="flex mt-3">
                    <button type="button" class="py-2 px-4 me-2 mb-2 text-sm font-medium focus:outline-none rounded-full border border-gray-200 text-white">
                        Ver más
                    </button>
                    <button type="button" class="py-2 px-4 me-2 mb-2 text-sm font-medium focus:outline-none rounded-full border border-gray-200 text-white">
                        Ver más
                    </button>
    
                </div>
            </div>    
        </div>
        <div class="col-span-2 border rounded-xl border-[#1F2227]">
            <div class="flex flex-col items-center p-2">
                <div class=" flex h-[87px] w-[87px] items-center justify-center rounded-full border-[4px] border-white bg-pink-400 dark:!border-navy-700">
                    <img class="h-full w-full rounded-full" src='images/yujra.jpg' alt="" />
                </div>
                <h5 class=" text-xl font-medium text-white mt-2">KENT EMERSHON YUCRA QUISPE</h5>
                <span class="text-sm text-gray-500 dark:text-gray-400 mt-2">MsC. Ciencia de Datos - Unicamp Brasil</span>
                <div class="flex mt-3">
                    <button type="button" class="py-2 px-4 me-2 mb-2 text-sm font-medium focus:outline-none rounded-full border border-gray-200 text-white">
                        Ver más
                    </button>
                    <button type="button" class="py-2 px-4 me-2 mb-2 text-sm font-medium focus:outline-none rounded-full border border-gray-200 text-white">
                        Ver más
                    </button>
    
                </div>
            </div>
        </div>
        <div class=" col-span-2 border rounded-xl border-[#1F2227]">
            <div class="flex flex-col items-center p-2">
                <div class=" flex h-[87px] w-[87px] items-center justify-center rounded-full border-[4px] border-white bg-pink-400 dark:!border-navy-700">
                    <img class="h-full w-full rounded-full" src='images/alvaro.jpg' alt="" />
                </div>
                <h5 class=" text-xl font-medium text-white mt-2">ALVARO CANCHANYA</h5>
                <span class="text-sm text-gray-500 dark:text-gray-400 mt-2">Gerente Regional en Win Empresas</span>
                <div class="flex mt-3">
                    <button type="button" class="py-2 px-4 me-2 mb-2 text-sm font-medium focus:outline-none rounded-full border border-gray-200 text-white">
                        Ver más
                    </button>
                    <button type="button" class="py-2 px-4 me-2 mb-2 text-sm font-medium focus:outline-none rounded-full border border-gray-200 text-white">
                        Ver más
                    </button>
    
                </div>
            </div>
        </div>
        <div class="col-span-3 border rounded-xl border-[#1F2227]">
            <div class="flex flex-col items-center p-2">
                <div class=" flex h-[87px] w-[87px] items-center justify-center rounded-full border-[4px] border-whitedark:!border-navy-700">
                    <img class="h-full w-full rounded-full" src='' alt="" />
                </div>
                <h5 class=" text-xl font-medium text-white mt-2">FRANZ ZIRENA VILCA</h5>
                <span class="text-sm text-gray-500 dark:text-gray-400 mt-2">DsC. Ciencias Ecológicas por USP - Brasil</span>
                <div class="flex mt-3">
                    <button type="button" class="py-2 px-4 me-2 mb-2 text-sm font-medium focus:outline-none rounded-full border border-gray-200 text-white">
                        Ver más
                    </button>
                    <button type="button" class="py-2 px-4 me-2 mb-2 text-sm font-medium focus:outline-none rounded-full border border-gray-200 text-white">
                        Ver más
                    </button>
    
                </div>
            </div>
        </div>
        <div class="col-span-3 border rounded-xl border-[#1F2227]">
            <div class="flex flex-col items-center p-2">
                <div class=" flex h-[87px] w-[87px] items-center justify-center rounded-full border-[4px] border-white bg-pink-400 dark:!border-navy-700">
                    <img class="h-full w-full rounded-full" src='images/dom.jpg' alt="" />
                </div>
                <h5 class=" text-xl font-medium text-white mt-2">ELEODORO OCTAVIO MAYORGA ALBA</h5>
                <span class="text-sm text-gray-500 dark:text-gray-400 mt-2">MsC. Ciencia de Datos - Unicamp Brasil</span>
                <div class="flex mt-3">
                    <button type="button" class="py-2 px-4 me-2 mb-2 text-sm font-medium focus:outline-none rounded-full border border-gray-200 text-white">
                        Ver más
                    </button>
                    <button type="button" class="py-2 px-4 me-2 mb-2 text-sm font-medium focus:outline-none rounded-full border border-gray-200 text-white">
                        Ver más
                    </button>
    
                </div>
            </div>
        </div>
      </div>
</section>  

